.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: E2DFD0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.social-media {
  display: inline-block; }
  .social-media p a {
    width: 34px;
    height: 34px;
    background: #4d4d4d;
    margin-right: 1px; }
    .social-media p a span {
      color: #FFF5E0; }
      .social-media p a:hover,.phone a:hover, nav a:hover {
      background: #FFF5E0;
      border-color: #000000;
      opacity: 80%;
      border-radius: 4px;
      color: #000 !important;  
  }
      .social-media p a:hover span {
        color: #FFF5E0; }

.phone a {
  color: #E2DFD0;
  font-size: 12px; }
   
  
.dropdown-menu,.menu-header-back,.cart-footer,.singin-modal-back{
  background: #141E46  !important; 
}


a,p {
  text-decoration: none !important;  
  color: #FFF5E0 !important;
}

.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}

.text-centre{
  text-align: center !important;
}

.text-color-biege{
  color: #FFF5E0;
}
h1,h2,h3,h4,h5,h6{
  color: #FFF5E0 !important;
}

.menu-footer-back {
  background-color: #141E46;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #FFF5E0 ; }
a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

.logo-hover{
  background-color: transparent !important;
}

.filter-link a{
  text-decoration: none !important;  
  color: #000000 !important;
}

.font-face-copperplate {
  font-family: 'CopperplateCC-Bold';
}

.min-height-420{
  min-height: 420px !important;
}

@media only screen and (max-width: 1280px) {
  .no-divider {
          display: none !important;
    }

  .display-none{
    display: none;
  }

  .cart-max-height,.filter-max-height{
    height: 190px;
    max-height: 190px;;
  }
}